<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <ui:composition template="/WEB-INF/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{text.EditMapPointTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">            
            <div id="table">
                <div id="table2">
                    <h:form prependId="false">
                        <h:panelGrid columns="2">
                            <h:outputLabel value="#{text.Latitude}" for="latitude" />
                            <h:inputText id="latitude" value="#{mapPointController.selected.latitude}" required="true" requiredMessage="#{text.Required}"/>
                            <h:outputLabel value="#{text.Longitude}" for="longitude" />
                            <h:inputText id="longitude" value="#{mapPointController.selected.longitude}" required="true" requiredMessage="#{text.Required}"/>
                            <h:outputLabel value="#{text.Radius}" for="radius" />
                            <h:inputText id="radius" value="#{mapPointController.selected.radius}" />
                            <h:outputLabel value="#{text.Label}" for="label" />
                            <h:inputText id="label" value="#{mapPointController.selected.label}" required="true" requiredMessage="#{text.Required}"/>
                            <h:outputLabel value="#{text.ShortInfo}" for="shortInfo" />
                            <h:inputText id="shortInfo" value="#{mapPointController.selected.shortInfo}" />
                            <h:outputLabel value="#{text.FullInfo}" for="fullInfo" />
                            <h:inputTextarea rows="4" cols="30" id="fullInfo" value="#{mapPointController.selected.fullInfo}" />
                            <h:outputLabel value="#{text.Region}" for="Region" />
                            <h:selectOneMenu id="region" value="#{mapPointController.selected.region}">                                
                                <f:selectItems value="#{applicationUtil.getListValue(mapPointController.selected.region)}" var="c" itemLabel="#{c.label}" itemValue="#{c.value}" />
                            </h:selectOneMenu>
                        </h:panelGrid>
                        <div class="marginLeft">
                            <h:commandLink action="#{mapPointController.update}" value="#{text.Save}"/>
                            <br />
                            <h:commandLink action="#{mapPointController.prepareList}" value="#{text.Back}" immediate="true"/>
                        </div>
                    </h:form>
                </div>
            </div>
        </ui:define>
    </ui:composition>
</html>
