<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <ui:composition template="/WEB-INF/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{text.ListMapPointTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:outputText escape="false" value="#{text.DataEmpty}" rendered="#{mapPointController.items.rowCount == 0}"/>                               
                <div id="table">
                    <div id="table2">
                        <ui:repeat value="#{mapPointController.items}" var="item">
                            <table style="margin-bottom: 10px; width: 100%;">
                                <tr>
                                    <th title="#{applicationUtil.tabTooltip(text.Label)}" colspan="2"><h:commandLink action="#{mapPointController.prepareView()}" value="#{item.label}" /></th>                           
                                    <td title="#{applicationUtil.tabTooltip(text.LastUpdate)}" colspan="2" style="white-space: nowrap;">#{applicationUtil.convertDate(item.lastUpdate)}</td>
                                </tr>
                                <tr>
                                    <td title="#{applicationUtil.tabTooltip(text.ShortInfo)}" colspan="2">#{item.shortInfo == "" ? '-' : item.shortInfo}</td>
                                    <td title="#{applicationUtil.tabTooltip(text.Latitude)}" colspan="2">#{applicationUtil.roundDouble(item.latitude)}</td>                      
                                </tr>     
                                <tr>
                                    <td title="#{applicationUtil.tabTooltip(text.Address)}">#{item.address == "" ? '-' : item.address}</td>
                                    <td title="#{applicationUtil.tabTooltip(text.Region)}">#{item.region == "" ? '-' : item.region}</td>
                                    <td title="#{applicationUtil.tabTooltip(text.Longitude)}" colspan="2">#{applicationUtil.roundDouble(item.longitude)}</td>                      
                                </tr>  
                                <tr>
                                    <td title="#{applicationUtil.tabTooltip(text.FullInfo)}" colspan="2" rowspan="4">#{item.fullInfo == "" ? '-' : item.fullInfo}</td>
                                    <td title="#{applicationUtil.tabTooltip(text.Radius)}" colspan="2">#{item.radius == null ? '-' : item.radius}</td>
                                </tr>
                                <tr>
                                    <td style="width: 60px;"><h:commandLink action="#{mapPointController.prepareEdit()}" value="#{text.Edit}" rendered="#{loginHelper.admin}"/></td>
                                    <td style="width: 60px;"><h:commandLink action="#{mapPointController.destroy()}" value="#{text.Delete}" rendered="#{loginHelper.admin}"/></td>
                                </tr>
                                <tr>
                                    <td colspan="2"/>
                                </tr>
                            </table>
                        </ui:repeat>
                        <h:panelGroup rendered="#{mapPointController.items.rowCount > 0}">
                            <h:outputText value="#{mapPointController.pagination.pageFirstItem + 1}..#{mapPointController.pagination.pageLastItem + 1}/#{mapPointController.pagination.itemsCount}"/>&nbsp;
                            <h:commandLink action="#{mapPointController.previous}" value="#{text.Previous} #{mapPointController.pagination.pageSize}" rendered="#{mapPointController.pagination.hasPreviousPage}"/>&nbsp;
                            <h:commandLink action="#{mapPointController.next}" value="#{text.Next} #{mapPointController.pagination.pageSize}" rendered="#{mapPointController.pagination.hasNextPage}"/>&nbsp;
                        </h:panelGroup>
                    </div>                    
                </div>                
            </h:form>
        </ui:define>
    </ui:composition>
</html>
