<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <ui:composition template="/WEB-INF/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{text.ViewMapPointTitle}"></h:outputText>
        </ui:define>        
        <ui:define name="body">
            <div id="table">
                <div id="table2">
                    <h:form id="viewForm" prependId="false">
                        <h:panelGrid columns="2">
                            <h:outputText value="#{text.Id}"/>
                            <h:outputText value="#{mapPointController.selected.id}"/>
                            <h:outputText value="#{text.Latitude}"/>
                            <h:outputText value="#{mapPointController.selected.latitude}" id="otLat"/>
                            <h:outputText value="#{text.Longitude}"/>
                            <h:outputText value="#{mapPointController.selected.longitude}" id="otLon"/>
                            <h:outputText value="#{text.Radius}"/>
                            <h:outputText value="#{mapPointController.selected.radius}"/>
                            <h:outputText value="#{text.Label}"/>
                            <h:outputText value="#{mapPointController.selected.label}"/>
                            <h:outputText value="#{text.ShortInfo}"/>
                            <h:outputText value="#{mapPointController.selected.shortInfo}"/>
                            <h:outputText value="#{text.FullInfo}"/>
                            <h:outputText value="#{mapPointController.selected.fullInfo}"/>
                            <h:outputText value="#{text.LastUpdate}"/>
                            <h:outputText value="#{mapPointController.selected.lastUpdate}"/>                    
                            <h:outputText value="#{text.Region}"/>
                            <h:outputText value="#{mapPointController.selected.region}" />
                            <h:outputText value="#{text.Address}"/>
                            <h:outputText value="#{mapPointController.selected.address}" />
                        </h:panelGrid>
                        <div class="marginLeft">
                            <h:commandLink action="#{mapPointController.prepareList()}" value="#{text.Back}"/>
                            <br />
                            <h:commandLink action="#{mapPointController.destroyAndView()}" value="#{text.Delete}" rendered="#{loginHelper.admin}"/>
                            <br />
                            <h:commandLink action="#{mapPointController.prepareEdit()}" value="#{text.Edit}" rendered="#{loginHelper.admin}"/>
                        </div>
                    </h:form>
                </div>
            </div>
        </ui:define>
    </ui:composition>    
</html>
