<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <f:view locale="#{applicationUtil.locale}" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title><ui:insert name="title">Default Title</ui:insert></title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
        <h:outputStylesheet name="css/style.css"/>
        <h:outputScript name="js/mainMap.js"/>
        <script src="http://www.openlayers.org/api/OpenLayers.js" />
        <script>
            function addMarkers() {
                <ui:repeat value="#{applicationUtil.allPoints}" var="point">
                    addMarker(#{point[0]}, #{point[1]},'#{point[2]}');
                </ui:repeat>                
            }
        </script>            
    </h:head>
    <h:body onload="init();">        
        <div id="top" class="shadow">
            <div id="topContent">
                <div id="title">
                    #{text.AppTitle}&nbsp;&nbsp;&nbsp;>
                </div>            
                <div class="menu">  
                    <h:form>
                        <ul>
                            <li><h:commandLink action="#{mapPointController.prepareList}" value="#{text.ListMapPointTitle}" immediate="true"/></li>
                            <li><h:commandLink action="#{mapPointController.prepareCreate}" value="#{text.AddPoint}"/></li>
                            <li>
                                <table id="xyTable">
                                    <tr>
                                        <td class="right">#{text.Latitude} : </td>
                                        <td class="left" id="xyLat"></td>
                                    </tr>
                                    <tr>
                                        <td class="right">#{text.Longitude} : </td>
                                        <td class="left" id="xyLon"></td>
                                    </tr>
                                </table>
                            </li>
                        </ul>           
                    </h:form>
                </div>
                <div id="menuRight" class="menu"> 
                    <h:form>
                        <ul>
                            <li><h:commandButton action="#{applicationUtil.changeLanguage('pl')}" image="/resources/img/pl_flag.png" /></li>
                            <li><h:commandButton action="#{applicationUtil.changeLanguage('en')}" image="/resources/img/en_flag.png" /></li>
                            <li><h:commandLink action="#{loginHelper.logout()}" value="#{request.remoteUser} [#{loginHelper.role}] - #{text.Logout}" /></li>
                        </ul> 
                    </h:form>
                </div>
            </div>
        </div>
        <div id="left" class="shadow">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <ui:insert name="body">Default Body</ui:insert>
        </div>
        <h:panelGroup id="map" layout="block"/>
    </h:body>
</html>

