body, html{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Lucida Sans Unicode", "Arial";
    background: #B8D4D6;
}

a {
    color: #e33b06;
}

#top {
    font-family: "Verdana";
    background-color: #6AA3A7;
    width: 100%;
    height: 70px;
    clear: both;
    color: white;
    
    position: relative;
    
    z-index: 1;
    
    background: -ms-linear-gradient(left,rgba(0, 92, 100, 0.97),rgba(234, 253, 253, 0.61));
    background: -moz-linear-gradient(left,rgba(0, 92, 100, 0.97),rgba(234, 253, 253, 0.61));
    background: -o-linear-gradient(left,rgba(0, 92, 100, 0.97),rgba(234, 253, 253, 0.61));
    background: -webkit-linear-gradient(left,rgba(0, 92, 100, 0.97),rgba(234, 253, 253, 0.61));
}

#title {    
    float: left;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
}

.menu li a {
    text-decoration: none;
    text-align: center;
    color: white;
}

.menu li a:hover {
    text-decoration: none;
    text-align: center;
    color: #e33b06;
}

#menuRight {    
    float: right;
    margin-right: -22px;
}

#menuRight input{    
    margin-top: -14px;
    margin-right: -5px;
    margin-left: -15px;
}

#menuRight a {    
    padding: 7px 13px;
    background: #29787E;
    color: #FFF;
}

#topContent {
    padding: 26px;
    padding-left: 20px;
    height: 100%;
}

#xyTable {
    margin-top: -14px;
    text-align: right;
}

#xyTable .left{
    text-align: left;
}

#xyTable .right{
    text-align: right;
}

#left {
    position: absolute;
    bottom: 0;
    top: 70px;
    left: 0;
    right: 0;
    
    margin-top: 0px;
    
    width: 550px;
    height: auto;
    
    background-color: #F1F1F1;
    overflow: auto;
    z-index: 1;    
}

#table {
    width: 100%;
}

#table2 {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
}

#viewForm table {
    width: 100%;
    empty-cells: show;
    border-width: 1px;
    border-spacing: 1px;
    border-style: solid;
    border-color: green;
    border-collapse: separate;
}

#viewForm table td {    
    border-width: 1px;
    padding: 3px;
    border-style: inset;
    border-color: gray;
}

.marginLeft {
    margin-left: 9px;
}

.panelGrid tr{    
    vertical-align: middle;
}

#map {    
    position: absolute;
    bottom: 0;
    top: 0;
    left: 550px;
    right: 0;
    
    margin-left: 0px;
    
    width: auto;
    height: auto;
    
    background-color: #F4F9FF;
}

.shadow {
    -moz-box-shadow: 5px 5px 9px #888;
    -webkit-box-shadow: 5px 5px 9px #888;
    box-shadow: 5px 5px 9px #888;
}

#centerPage {
    position:absolute;
    top:20%;
    left:40%;
}

#centerPage img{
    margin-left: -130px;
}

#button {
    border-style: none;
    padding: 5px 15px;
    background: #29787E;
    color: #FFF;
}         
#msg {
    color: red;
    list-style: none;
}  