<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Login</title>
        <h:outputStylesheet name="css/style.css"/>
    </h:head>
    <h:body>    
        <f:event type="preRenderView" listener="#{loginHelper.checkStatus()}" />
        <div id="centerPage">
            <h:graphicImage value="/resources/img/logo.png" />
            <h:form prependId="false">
                <h:inputText value="#{loginHelper.username}" autocomplete="off" />
                <h:inputSecret value="#{loginHelper.password}" autocomplete="off" />
                <br/>
                <h:commandButton id="button" value="Login" action="#{loginHelper.login()}" />
            </h:form>  
            <h:messages id="msg"/>
        </div>        
    </h:body>
</html>
